<div class="container-fluid">
    <div class='mt-2 mb-4 pl-2'>
        <h3>Bert학습용 프로젝트 생성</h3>
    </div>
    <div class='row mb-4 pl-2'>
        <div class='col-md-10 mb-5'>
            <p class="text-break mb-0">
                             Bert엔진 학습용 프로젝트를 생성합니다
            </p>
            <form id='frmBertProject'>
                <div class="row mb-0">
                    <div class="form-group col-7 pr-0">
                        <label for="txtBertProjectName">프로젝트 이름 (영문, 최대 25자)</label>
                        <input type="text" class="form-control" id="txtBertProjectName" name="txtBertProjectName" placeholder="프로젝트 이름" data-istooltip="false" required>
                    </div>
                    <div id="divDummy"></div>
                </div>
                <div class="row">
                    <div class="form-group col-7 pr-0">
                        <label for="txtBertProjectAlias">프로젝트 별칭 (프로젝트 이름 선택창에 표시 됩니다.)</label>
                        <input type="text" class="form-control" id="txtBertProjectAlias" name="txtBertProjectAlias" placeholder="프로젝트 별칭">
                    </div>
                </div>
                <div class='text-right col-7 pr-0'>
                    <button type="button" class="btn btn-primary" id="btnNewProject" data-path="bert-project-confirm">프로젝트 생성</button>
                </div>
            </form>
        </div>
        <div class='col-md-3 mb-5'></div>
    </div>
</div>
<!-- 프로젝트 생성 오류  Modal dialog -->
<div class="modal fade" id="mdlMkPrjError" tabindex="-1" role="dialog" aria-labelledby="mdlMkPrjError" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">프로젝트 생성 실패</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="닫기">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-left">
                    <p>프로젝트를 생성할 수 없습니다. 입력 내용 확인 후 다시 실행해 주시기 바랍니다.</p>
                </div>
                <div class="text-right">
                    <button type="button" id="btnClose" class="btn btn-primary" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/chatcor/chatcor-bert-project.js"></script>