<div class="container-fluid">
    <div class='mt-2 mb-4 pl-2'>
        <h3>Bert 프로젝트 생성</h3>
    </div>
    <div class="row pl-2">
        <div class="col-8 text-break">
            <p class="mb-3">Bert 프로젝트 생성이 완료되었습니다. 좌측 상단 "프로젝트 이름"을 클릭하여 원하는 프로젝트를 선택할 수 있습니다.</p>
            <p class="mb-1">폴더의 구조는 다음과 같이 구성됩니다. 각 폴더의 이름은 임의로 수정해서는안됩니다.</p>
            <ul class="list-unstyled">
                <li>ChatCorTestProject
                    <ul>
                        <li>day</li>
                        <li>month</li>
                        <li>quater</li>
                        <li>year</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-4"></div>
    </div>
</div>